{% extends "base.html" %}

{% block title %}Chart{% endblock %}


<script>
{% block jquery %}
var endpoint1 = '/api/v3/project/default/charts-dot'
var endpoint2 = '/api/v3/project/default/charts-dom'

var defaultData_dot = []
var labels_dot = [];

var defaultData_dom = []
var labels_dom = [];
$.ajax({
    method: "GET",
    url: endpoint1,
    success: function(data){
        labels_dot = data.labels
        defaultData_dot = data.default
        setChart_dot()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

$.ajax({
    method: "GET",
    url: endpoint2,
    success: function(data){
        labels_dom = data.labels
        defaultData_dom = data.default
        setChart_dom()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})


function setChart_dot(){
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels_dot,
        datasets: [{
            label: '# of Hits',
            data: defaultData_dot,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels_dot,
        datasets: [{
            label: '# of Hits',
            data: defaultData_dot,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
}

function setChart_dom(){
    var ctx2 = document.getElementById("myChart2");
    var myChart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: labels_dom,
        datasets: [{
            label: '# of Hits',
            data: defaultData_dom,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
}
// var ctx = document.getElementById("myChart");
{% endblock %}
</script>

{% block content %}
<div class='row'>
    <div class='col-sm-12' url-endpoint='{% url "viperapi_v3:chart-dot-list" project_name='default' %}'>
        <h1>Stats</h1>
        <div class='col-sm-12'>
            <canvas id="myChart2" width="400" height="400"></canvas>
        </div>
		<div class='col-sm-12'>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>

    </div>
</div>


{% endblock %}
